html {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* make padding and margin part of width/height */
* { box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  height: 100vh; /* make body 100 vertical units height, i.e. screen height */
  display: flex; /* no hacks, no translate 50%, just good css */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.background {
  position: absolute;
  width: 150%;
  height: 150%;
  top: -100px;
  left: -100px;
  z-index: -1;

  background: url('./assets/img/background.jpg') center no-repeat;
  background-size: cover;
  -webkit-filter: blur(10px);
     -moz-filter: blur(10px);
      -ms-filter: blur(10px);
       -o-filter: blur(10px);
          filter: blur(10px);


}

.glass {
  display: flex;
  flex-direction: column; /* flows down, instead of across */
  justify-content: center;
  align-items: center;
  width: 420px; /* dude weed lmao */
  height: auto; /* height determined from content */
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  transition: 0.2s;
  padding: 30px; /* multiples of 3 are nice */
}

.glass:hover{
  background-color: rgba(0,0,0,0.6);
}

.glass a { /* "a" elements INSIDE of .glass only */
  text-decoration: none;
  color: #fff;
}

.glass h1 {
  margin: 0 0 15px 0;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%; /* as long as image aspect ratio is 1:1, 50% will always give a circle; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* kinder shadows */
  margin-bottom: 30px;
  overflow: hidden; /* confine image to shape of div, i.e. circle */
}

.avatar img { /* get height from parent div */
  width: inherit;
  height: inherit;
  transition: 0.5s; /* time for full rotate */
  border-radius: 50%; /* as long as image aspect ratio is 1:1, 50% will always give a circle; */
}

.links {
  cursor: pointer;
}

.links a {
  display: inline-block;
  padding: 10px;
  margin: 0 3px;
  transition: all 0.2s;
  font-size: 16;
}

.links a:hover {
  background-color: rgba(0,0,0,0.2);
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
